<footer class='text-white container-fluid p-0 text-center'>
    <div class='waves'>
        <div class='wave' id='wave1'></div>
        <div class='wave' id='wave2'></div>
        <div class='wave' id='wave3'></div>
        <div class='wave' id='wave4'></div>
    </div>
    <div class='grupo-1 d-flex justify-content-center align-items-center p-3'>
        <div class='box box-1'>
            <figure>
            <a href='/'>
                <img src='../static/img/logo.png' alt='Logo de SISAI'>
            </a>
            </figure>
        </div>
        <div class='box box-2 mx-5 w-25 w-md-50'>
            <h2>SOBRE NOSOTROS</h2>
            <p>SISAI es una aplicacion web destinada a funcionar como plataforma para gestionar tus reclamos de la manera mas rapida posible.</p>
        </div>
        <div class='box box-3'>
            <h2>SIGUENOS EN REDES SOCIALES</h2>
            <div class='red-social'>
                <a href='#' class='bi bi-facebook'></a>
                <a href='#' class='bi bi-instagram'></a>
                <a href='#' class='bi bi-twitter'></a>
                <a href='#' class='bi bi-linkedin'></a>
            </div>
        </div>
    </div>
    <div class='grupo-2 w-100 p-3'>
        <small>&copy; 2021 <b>SISAI</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>