{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <section class="row p-3 my-5 d-flex">
        <div class="col-md-12 col-lg-6 d-flex align-items-center">
            <div class="info">
                <h2 class="cont-title">Gestión de Reclamos en <span class="color-primary">tiempo record</span>.</h2>
                <p class="cont-parrafo">Iniciar sus reclamos se ha vuelto más fácil, su seguimiento y resolucion tambien.</p>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner border border-dark rounded">
                    <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../static/img_inmuebles/001.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                    <img src="../static/img_inmuebles/002.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                    <img src="../static/img_inmuebles/003.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </section>

    <section class="row p-lg-1 mimb-1 d-flex align-items-center" bis_skin_checked="1">
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-grid-1x2-fill anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Dashboard Personalizados</h5>
                    <p class="card-text"> Gestionamos la información monitorizada, analizamos y mostramos de manera visual los KPI, metricas y datos fundamentales, 
                        haciendo un seguimiento del estado de su empresa o un proceso específico.</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-check-all anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Notificaciones Instantáneas</h5>
                    <p class="card-text">Nuestro desarrollo permite no estar utilizando la aplicación para que recibir una notificación de la misma.
                        Permitimos que la relación entre el usuario y la propia App sea mucho más cómoda y cercana.</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-chat-left-dots-fill anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Un solo lugar para las conversaciones</h5>
                    <p class="card-text">Ofrecemos respuestas rápidas y efectivas.
                        Gestionamos eficientemente conversaciones con el objetivo de optimizar los procesos de atención a clientes.</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-tv-fill anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Aplicacion Web</h5>
                    <p class="card-text">Nuestro objetivo principal de la app web es que el usuario pueda realizar una o varias tareas. 
                        Mediante las diversas funcionalidades desarrolladas para la interaccion de nuestros usuarios.</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-check-circle-fill anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Interfaz amigable</h5>
                    <p class="card-text">Nos caracterizamos por tener un alto grado de uso, y por ser amigable e intuitivo. 
                        Focalizamos nuestro trabajo en efectuar una interacción sencilla y rápida entre el sistema y los usuarios.</p>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3" bis_skin_checked="1">
            <div class="card text-white bg-dark mb-3" bis_skin_checked="1">
                <div class="card-header" bis_skin_checked="1">
                    <a class="bi bi-arrow-up-circle-fill anim"></a>
                </div>
                <div class="card-body" bis_skin_checked="1">
                    <h5 class="card-title">Agiliza el flujo de trabajo</h5>
                    <p class="card-text">Brindamos una lista de actividades funcionales de su empresa, organizada en orden de prioridad y ocurrencia.
                        Indicando las tareas a ejecutar y en qué orden se deben realizar.</p>
                </div> 
            </div>
        </div>
    </section>
</div>
{% endblock %}