{% extends 'layout.html' %}

{% block body %}
<div class="container vh-100">
    <section class="row p-3 my-5 d-flex">
        <h2>Select a file to upload</h2>
    {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}">
        </div>
    {% endif %}
    <form method="POST" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
    </section>
</div>
{% endblock %}